<div class="center-box">


    <div class="register-container">

        <div class="register-content">

            

            <!-- logo div starts -->
            <div class="logo">
                <img mat-card-image src="assets/logored.png" alt="Streamio Logo" class="logo-img">
            </div>
            <!-- logo div ends -->
            <h1>User Login</h1>

            <!-- form starts -->
            <form class="formClass">
                <mat-form-field>
                    <mat-label>Enter your Email</mat-label>
                    <input matInput type="email">
                </mat-form-field>
             
                <mat-form-field>
                    <mat-label>Enter your Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
              

                <a href="">Don't have account?</a>
                <!-- div for the buttons -->
                <div class="lbuttons">
            
    
                    <div class="example-button-container">
                        <button mat-fab extended class="login-button">
    
                            Login
                        </button>
                    </div>
                </div>
                <!-- button div ends here -->

            </form>
            <!-- form ends -->
        
        </div>



    </div>







</div>