<div class="center-box">


    <div class="register-container">

        <div class="register-content">

            

            <!-- logo div starts -->
            <div class="logo">
                <img mat-card-image src="assets/logored.png" alt="Streamio Logo" class="logo-img">
            </div>
            <!-- logo div ends -->
            <h1>User Registration</h1>

            <!-- form starts -->
            <form class="formClass">
                <mat-form-field>
                    <mat-label class="font-mono">Enter your Email</mat-label>
                    <input matInput type="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="font-mono">Enter your Username</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="font-mono">Enter your Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="font-mono">Confirm your Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="font-mono">Enter your Country</mat-label>
                    <input matInput type="text">
                </mat-form-field>
    
                <!-- div for the buttons -->
                <div class="twoButtons">
                    <div class="button-container">
                        <button mat-fab extended class="cancel-button">
    
                            Cancel
                        </button>
                    </div>
    
                    <div class="example-button-container">
                        <button mat-fab extended class="register-button">
    
                            Register
                        </button>
                    </div>
                </div>
                <!-- button div ends here -->

            </form>
            <!-- form ends -->
        
        </div>



    </div>







</div>